-- migrations/0000001_create_{{ .ModelName | ToSnakeCase }}_table.sql

CREATE TABLE IF NOT EXISTS {{ .ModelName | ToSnakeCase }}s (
    id SERIAL PRIMARY KEY,
    {{ range .Fields }}
    {{ .FieldName | ToSnakeCase }} {{ .SQLType }} NOT NULL,
    {{ end }}
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);