// {{ .PackageName }}/models/{{ .ModelName }}.go

package models

import "time"

// {{ .ModelName }} представляет модель {{ .ModelName }}.
type {{ .ModelName }} struct {
    ID        int     `db:"id"`
    {{ range .Fields -}}
    {{ .FieldName }} {{ .FieldType }} `db:"{{ .JSONTag }}"`
    {{ end -}}
    CreatedAt time.Time `db:"created_at"`
    UpdatedAt time.Time `db:"updated_at"`
}
